.StickyNote {
  position: absolute;
  padding: 3px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 8px;
  box-sizing: border-box;
}

.selected {
  border: 2px solid #9dc8ff;
}

.edit-mode {
  border: 2px solid #d9ff9d;
}

.edit-area {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  word-break: break-all;
  font-size: 0.8rem;
  color: #616161;
}

.edit-area:focus {
  outline: none;
}

.delete-icon {
  background: #9dc8ff;
  color: white;
  font-size: 0.8rem;
  padding: 3px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  position: absolute;
}
