.Toolbar {
  width: 65px;
  height: 100vh;
  background: #f7f7f7;
  padding: 0.5rem;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #d4d4d4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}
